.payment-card-number {
  position: relative;
  z-index: 10;
line-height: 40px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  margin-top: 1rem;

  letter-spacing: 0.4px;

  color: #000000;
  font-family: 'OCR A Std';
  font-size: 48px;
  opacity: 1.00;
  text-shadow: 3px 1px 3px rgba(#2c3e50, 0.7);
}
